---
import MainLayout from "../../layouts/MainLayout.astro"
import TeamSection from "../../components/TeamSection.astro";
import { kebabToTitleCase } from "../../lib/utils";

const domain: {name: string, people: Record<string, any>[]}[] = [
  { name: "club-heads", people: []},
  { name: "event-management", people: []},
  { name: "social-media", people: []},
  { name: "design", people: []},
  { name: "campaigning-and-pr", people: []},
  { name: "marketing", people: []},
  { name: "logistics", people: []},
  { name: "operations", people: []},
  { name: "web-dev", people: []},
  { name: "app-dev", people: []},
  { name: "ai-ml", people: []}
]

const team_images = await Astro.glob("/src/assets/images/team/**/*.png");

for (const i of team_images) {
  const parts = i.default.src.split('/')
  const file_name = parts[parts.length - 1]
  const name = file_name.split('.')[0]
  const domain_name = name.split("_")[0]
  domain.find(f => f.name === domain_name)?.people.push(i)
}

---

<MainLayout title="Team">
  <div class="flex-grow flex flex-col gap-40 px-4 py-10">
    {domain.map(d => <TeamSection heading={kebabToTitleCase(d.name)} people={d.people} />)}
  </div>
</MainLayout>
