---
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout title="Event">
  <div class="flex flex-col flex-grow items-center justify-center gap-16 p-8">
    <button>OPEN FORM</button>
    <video controls class="hidden">
      <source src="/video.webm" type="video/webm">
      <source src="/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</MainLayout>

<style>
.hidden {
  display: none;
}

button {
  background: white;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
}
</style>

<script>
document.addEventListener('astro:page-load', () => {
  const button = document.querySelector('button');
  if (!button) return;

  button.addEventListener('click', () => {
    button.classList.add('hidden');
    const video = document.querySelector('video');
    if (!video) return;

    video.classList.remove('hidden');
    video.muted = false;
    video.play();
  })
})
</script>
