---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from "astro:assets";
import TeamSection from "../components/TeamSection.astro";
import { kebabToTitleCase } from "../lib/utils";

const domain_order = [
  "club-heads",
  "event-management",
  "social-media",
  "design",
  "campaigning-and-pr",
  "marketing",
  "logistics",
  "operations",
  "web-dev",
  "app-dev",
  "ai-ml"
]

const team_images = await Astro.glob("../assets/images/team/**/*.png");

---

<MainLayout title="Team">
  <div class="flex-grow flex flex-col gap-24 px-4 py-10">
    {domain_order.map(domain => <TeamSection heading={kebabToTitleCase(domain)} people={team_images.filter(f => f.default.src.includes(`/team/${domain}`))} />)}
  </div>
</MainLayout>
