---
const navItems = [
  { name: "HOME", href: '/' },
  { name: "TEAM", href: "/team" },
  { name: "EVENT", href: "/event" },
  { name: "MEEEE", href: "/me" }
]
---

<nav class="text-3xl grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-16">
  {navItems.map( item => <a class="font-bold" href={item.href}>{item.name}</a> )}
</nav>

<script>
document.addEventListener('astro:page-load', () => {
  const item = document.querySelector(`nav a[href="${window.location.pathname}"]`)
  if (item)
    item.classList.add('--fancy-text')
})
</script>
