---
import Icon from "./Icon.astro"
---


<div class="flex gap-8 text-4xl justify-center text-white">
  <a href="https://www.linkedin.com/company/nexus-pes/" target="_blank"><Icon of="linkedin"/></a>
  <a href="https://github.com/Nexus-PES/" target="_blank"><Icon of="github"/></a>
  <a href="https://www.instagram.com/nexus.pesu/" target="_blank"><Icon of="instagram"/></a>
</div>
