---
import Icon from "./Icon.astro"
---


<div class="flex gap-8 text-4xl justify-center">
  <a href="mailto:nishantholla19@gmail.com"><Icon of="gmail"/></a>
  <a href="https://www.linkedin.com/in/nishant-holla" target="_blank"><Icon of="linkedin"/></a>
  <a href="https://github.com/nishantHolla" target="_blank"><Icon of="github"/></a>
  <a href="https://www.instagram.com/nishantholla/" target="_blank"><Icon of="instagram"/></a>
</div>
