---
import { Image } from 'astro:assets';
import TeamCard from './TeamCard.astro';
import { kebabToTitleCase } from '../lib/utils';

interface Props {
  heading: string;
  people: Record<string, any>[]
}

const getName = (src: string) => {
  const path = src.split('?')[0].split('/');
  const name = path[path.length - 1].split('.')[0];
  return kebabToTitleCase(name);
}

const getPid = (src: string) => {
  const path = src.split('?')[0].split('/');
  const pid = path[path.length - 1].split('.')[0];
  return pid;
}

const {heading, people} = Astro.props
---

<section class="flex flex-col gap-8 items-center">
  <h3 class="text-4xl">{heading}</h3>
  <div class="flex gap-8 flex-wrap justify-center">
    {people.map(p => <a href={`/team/${getPid(p.default.src)}`}><TeamCard image={p} name={getName(p.default.src)}/></a>)}
  </div>
</section>
