---
import "../styles/global.css";
import "../styles/style.css";
import NavBar from "../components/NavBar.astro";
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string
}

const {title} = Astro.props
---

<html lang="en" class="dark">
	<head>
    <ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Nexus {title || ""} | Nishant Holla</title>
	</head>
	<body class="text-content bg-background">
    <header class="h-[150px] md:h-[100px] flex items-center justify-center relative p-8">
      <NavBar />
    </header>
    <slot />
	</body>
</html>

<style>
body {
  font-family: Poppins, sans-serif;
}
</style>
